@page "/about"
<br />
<div class="container">
    <h3>Unlock Success,<br />One Question at a Time!</h3>
    <i><img src="sample-data/about.png" alt="About Us" style="height: auto;" /></i>
    <br />
    <hr />
    <div id="row">
        <p>
            <h4>The Question Bank Software is a comprehensive platform for trainers to <br />create and manage a centralized collection of multiple-choice questions (MCQs).</h4>
        </p>
        <br />
        <h2>Our Mission</h2>
        <p>
            <h4>Our mission is to provide a user-friendly platform for trainers to<br /> create, manage, and share MCQs, enhancing the learning experience for trainees.</h4>
        </p>
        <i><img src="sample-data/about1.png" alt="About Us" style="height: auto;" /></i>
        <br/>
        
    </div>
    <div id="prep">
        <br/>
        <h2>What Makes <b>Us No.1</b><br/>We have the Resource for <b>Your</b> Preparation</h2>
        <br/>
        

    </div>
  
    
</div>
<br />



@code {

}
