@page "/add"
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Internal
@inject NavigationManager navigate;
@inject QuestionBankUI.Trainer.Services.QuestionUIService service;
@inject QuestionBankUI.Trainer.Services.PracticePaperUIService _service;
@inject HttpClient Http;
@using Microsoft.AspNetCore.Components.Forms
@using QuestionBankDll.Trainer.Models
<br />
<div class="container">
    <br />

    <div>
        <h1 style="text-align:center">Add New Question(s)</h1>
        <br />
        <label><h4>Select an option:</h4></label>
        <select class="p-2" @onchange="HandleSelectChange">
            <option value="">Select an option</option>
            <br />
            <option value="Single">Upload Single Question</option>
            <option value="Bulk">Upload Bulk Questions</option>
            <option value="Practice">Upload Practice Questions</option>
        </select>
        <br />
        <br />
        <br />
        @if (selectedOption == "Single")
        {
            <div>
                <h4>Upload Single Question</h4><br />
                <form>
                    <label>Subject:</label>
                    <input type="text" @bind="singleQuestion.Subject" class="form-control" />

                    <br />
                    <label>Topic:</label>
                    <input type="text" @bind="singleQuestion.Topic" class="form-control" />

                    <br />
                    <label>Difficulty Level:</label>
                    @* <input type="text" @bind="singleQuestion.DifficultyLevel" class="form-control" /> *@
                    <select class="form-control" @bind="singleQuestion.DifficultyLevel">
                        <option value="Select Option">Select Option</option>
                        <option value="Easy">Easy</option>
                        <option value="Medium">Medium</option>
                        <option value="Hard">Hard</option>
                    </select>
                    <br />
                    <label>Question Text:</label>
                    <input type="text" @bind="singleQuestion.QuestionText" class="form-control" />

                    <br />
                    <label>Option A:</label>
                    <input type="text" @bind="singleQuestion.OptionA" class="form-control" />

                    <br />
                    <label>Option B:</label>
                    <input type="text" @bind="singleQuestion.OptionB" class="form-control" />

                    <br />
                    <label>Option C:</label>
                    <input type="text" @bind="singleQuestion.OptionC" class="form-control" />

                    <br />
                    <label>Option D:</label>
                    <input type="text" @bind="singleQuestion.OptionD" class="form-control" />

                    <br />
                    <label>Correct Answer:</label>
                    <input type="text" @bind="singleQuestion.CorrectAnswer" class="form-control" />

                    <br />
                    <label>Explanation:</label>
                    <input type="text" @bind="singleQuestion.Explaination" class="form-control" />

                    <br />

                    <button type="submit" class="btn btn-outline-success m-3 p-2" @onclick="SubmitSingleQuestion">Submit</button>
                    <button type="submit" class="btn btn-outline-danger p-2" @onclick="Cancel">Cancel</button>
                </form>
            </div>
        }
        else if (selectedOption == "Bulk")
        {
            <div>
                <h4>Upload Bulk Questions</h4><br />
                <form>
                    <label for="fileupload">Upload Document:</label>
                    <InputFile OnChange="HandleFileUploaded" id="fileupload" class="form-control" />
                    <br />
                    <button type="submit" class="btn btn-outline-success m-3 p-2 ">Submit</button>
                    <button type="submit" class="btn btn-outline-danger p-2" @onclick="Cancel">Cancel</button>
                </form>
            </div>
        }
        else if (selectedOption == "Practice")
        {
            <div>
                <br />
                <form>
                    @* <label>Upload File:</label>
                @* <input type="file" @onchange="HandleFileChange" /> *@
                    @* <input type="file" @onchange="HandleFileChange"   /> *@
                    <input type="text" id="name" @bind="fileName" class="form-control" />
                    <label for="fileupload">Upload Document:</label>
                    <InputFile OnChange="HandleFileSelected" id="fileupload" class="form-control" />
                    <br />
                    <button type="submit" class="btn btn-outline-success m-3 p-2 ">Submit</button>
                    <button type="submit" class="btn btn-outline-danger p-2" @onclick="Cancel">Cancel</button>
                </form>
            </div>



        }
    </div>


</div>
<br />



@code {
    private PracticePaper practicePaper = new PracticePaper();
    private string selectedOption = "";
    private string testName = "";
    private string _pdfFolderPath = "C:\\Users\\6147954\\Documents\\QuestionBank.Trainer\\QuestionBankUI.Trainer\\QuestionBankUI.Trainer\\pdf\\";

    private string fileName = "";
    private IBrowserFile selectedFile;
    private string errorMessage;
    private bool isSuccess = false;
    //public IFormFile file;
    private QuestionBankDll.Trainer.Dtos.QuestionDtos singleQuestion = new QuestionBankDll.Trainer.Dtos.QuestionDtos();
    private void HandleSelectChange(ChangeEventArgs e)
    {
        selectedOption = (e.Value as string)?.Trim();
    }

    // private void HandleFileChange(ChangeEventArgs e)
    // {
    //     uploadedFile = (e.Value as IBrowserFile);
    // }
    // private void HandleFileChange(InputFileChangeEventArgs e)
    // {
    //     uploadedFile = e.File;
    // }
    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        try
        {
            var file = e.File;
            if (file != null)
            {
                using var content = new MultipartFormDataContent();
                using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000); // Max size 10 MB

                var streamContent = new StreamContent(stream);

                streamContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

                content.Add(streamContent, "file", file.Name);

                Http.PostAsync("AddPracticePaper", content);
            }

        }
        catch (Exception ex)
        {
            errorMessage = $"Failed to upload document: {ex.InnerException}";
        }
    }

    private async Task HandleFileUploaded(InputFileChangeEventArgs e)
    {
        try
        {
            var selectedFile = e.File;
            if (selectedFile != null)
            {
                // using var content = new MultipartFormDataContent();
                // using var stream = file.OpenReadStream(maxAllowedSize: 10_000_000);
                // var streamContent = new StreamContent(stream);

                // streamContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(file.ContentType);

                // content.Add(streamContent, "file", file.Name);
                // //var response = await Http.PostAsync("AddBulkQuestions", content);

                var memoryStream = new MemoryStream();
                await selectedFile.OpenReadStream().CopyToAsync(memoryStream);

                var formFile = new FormFile(
                    baseStream: memoryStream,
                    baseStreamOffset: 0,
                    length: memoryStream.Length,
                    name: selectedFile.Name,
                    fileName: selectedFile.Name
                )
                    {
                        Headers = new HeaderDictionary(),
                        ContentType = selectedFile.ContentType
                    };
                memoryStream.Position = 0;
                // await service.AddQuestionInBulkAsync(formFile);

                using (var content = new MultipartFormDataContent())
                {
                    var fileContent = new StreamContent(formFile.OpenReadStream());
                    fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(formFile.ContentType);
                    content.Add(fileContent, "file", formFile.FileName);

                    var response = await Http.PostAsync("AddBulkQuestions", content);

                }

            }
            else
            {
                throw new Exception("Some other error");
            }


        }
        catch (Exception ex)
        {
            throw new Exception(ex.Message);
        }
    }

    public class Response
    {
        public string FilePath { get; set; }
    }



    private async void SubmitSingleQuestion()
    {
        try
        {
            //singleQuestion.CreatedBy = 1;
            // await Http.PostAsJsonAsync("AddSingleQuestion",singleQuestion);

            await service.AddQuestionAsync(singleQuestion);
            navigate.NavigateTo("/");
        }
        catch (Exception ex)
        {
            throw ex.InnerException;
        }


    }







    private void Cancel()
    {
        navigate.NavigateTo("/");
    }

}

