@page "/question"
@layout MinimalLayout
@inject NavigationManager Navigation
@inject TestService TestService
@using BlazorTrainee.Services
@using BlazorTrainee.Model


<h3>Question Page</h3>

<div>
    <label>Question: What is the capital of France?</label>
    <br />
    <input type="radio" id="paris" name="answer" value="Paris" />
    <label for="paris">Paris</label>
    <br />
    <input type="radio" id="london" name="answer" value="London" />
    <label for="london">London</label>
    <br />
    <input type="radio" id="berlin" name="answer" value="Berlin" />
    <label for="berlin">Berlin</label>
    <br />
    <button @onclick="SubmitAnswer">Submit</button>
</div>

@code {
    private async Task SubmitAnswer()
    {
        var test = new Test
            {
                TestName = "Sample Test",
                Hyperlinks = Navigation.ToAbsoluteUri("/question").ToString(),
                TestMaxMarks = 100,
                TestNoOfQuestions = 1,
                CreatedBy = 1,
                StartTime = DateTime.Now,
                ExpiryTime = DateTime.Now.AddHours(1)
            };

        await TestService.StoreHyperlink(test);
        Navigation.NavigateTo("/result");
    }

   
}
