@page "/test"
@inject HttpClient Http

@inject NavigationManager Navigation
@using BlazorTrainee.Model



<h3>Test Page</h3>

<button @onclick="NavigateToTest">Go to Test</button>

@code {
    private async Task NavigateToTest()
    {
        var test = await Http.GetFromJsonAsync<Test>("http://localhost:18360/api/Test/3"); // Replace 3 with the actual test ID you want to fetch
        if (test != null)
        {
            Navigation.NavigateTo(test.Hyperlinks);
        }
    }

   
}
