@page "/shuffled-questions"
@inject HttpClient Http
@using BlazorTrainee.Dtos

<h3>Shuffled Questions</h3>

@if (shuffledQuestions != null)
{
    <div>
        @foreach (var question in shuffledQuestions)
        {
            <div class="mb-4">
                <h5>@question.QuestionText</h5>
                <ul>
                    @foreach (var option in question.ShuffledOptions)
                    {
                        <li>@option</li>
                    }
                </ul>
            </div>
        }
    </div>
}
else
{
    <p>Loading questions...</p>
}

@code {
    [Parameter] public int TestId { get; set; }
    private List<ShuffledQuestionDto> shuffledQuestions;

    protected override async Task OnInitializedAsync()
    {
        shuffledQuestions = await Http.GetFromJsonAsync<List<ShuffledQuestionDto>>("http://localhost:5109/api/Shuffle/generate-shuffled-questions");
    }
}

